@import 'util';

html {
  font-size: 1.5vw;
}

@media (max-width: 768px) {
  html{font-size: 90%;}
}

body{
  font-family:'Moderat Trial', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings:"kern" 1;
  text-rendering: optimizeLegibility;
  color: #000;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-size: 1.1rem;
  font-weight: 400;
}

a {color: #000;}
